@import url('https://fonts.googleapis.com/css2?family=Karla:wght@500&family=Poppins:ital,wght@1,300&family=Roboto:wght@700&family=Sriracha&display=swap');

*{
    font-family: 'Karla', sans-serif;
}
body{
    background: url(bgimg.png) no-repeat center center fixed;
    background-size: cover;
}
.calculator{
    display: flex;
    justify-content: center;
    width: fit-content;
    padding: 1%;
    padding-top: 2%;
    margin-top: 3%;
    border-radius: 20px;
    background-color: #1f1a1f;
    transition: transform 0.8s;
}
.calculator:hover{
    transform: scale(1.06);
}
h1{
    margin-top: 3%;
    font-weight: bold;
    background-color: black;
    display: inline-block;
    padding: 0.5%;
    border-radius: 12px;
    color: white;
}
.display-box{
    text-align: right;
}
td{
    width: 76px;
    height: 70px;
    padding: 1%;
}
#result{
    width: 98%;
    height: 95%;
    border-radius: 10px;
    font-size: 200%;
    background-color: #ececec;
    color: #2c2c2c;
    margin-bottom: 6%;
    overflow: hidden;
}
.ipbtn0{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 120%;
    background-color: #1991FF;
    color: #FFFF;
}
.ipbtn1, .ipbtn2, .ipbtn3, .ipbtn4{
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: none;
    /* border: 1px solid black; */
    font-size: 140%;
    background-color: #415963;
    /* color: #2c2c2c; */
    color: white;

}
.ipbtn4{
    background-color: rgb(230, 230, 230);
}
.ipbtn5{
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 20px;
    font-size: 250%;
    color: #FFFF;
    background-color: #FF6531;
}
.ipbtn0:active, .ipbtn1:active, .ipbtn2:active, .ipbtn3:active, .ipbtn4:active, .ipbtn5:active{
    transform: translateY(2px);
}
.back{
    background-color: #aecce9;
    background-image: url(backspace.png);
    background-position: center;
    background-repeat: no-repeat;
}
.operator{
    border: none;
    background-color: #264361;
    color: white;
    font-size: 180%;
}
@media only screen and (max-width: 768px){
    .calculator{
        padding: 6% 2% 2% 2%;
    }
    h1{
        margin-top: 12%;
        padding: 2%;
    }
}
